


#question {
    height: 150px;
}

#answer {
    height: 150px;
}

#flip-button {
    margin-top: 2em;
}

#next-button {
    margin-top: 2em;
}

#questionAnswer {
    background-color: maroon;
}

#text {
    color: oldlace;
}

#menu-button{
    margin-top: 1em;
}